@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body, html{
    font-family: 'Raleway', sans-serif;
    
}
body{
    width: 100%;
    height: auto;
    background-color: var(--branco);
}
.titulo{
    color:black;
    text-align: center;
}
.row-as{
    text-align: center;
}