@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body, html{
    font-family: 'Raleway', sans-serif;
}
body{
    width: 100%;
    height: auto;
    background-image: linear-gradient(var(--azul_escuro_dg_escuro), var(--azul_claro_dg_escuro));
    background-size: contain; /*cover*/
    background-repeat: no-repeat;
    color: white;
}
.ft-li{
    font-weight: bold;
    font-size: 1rem;
}
.ft-a{
    font-size: 0.85rem;
}

.ft-a:hover{
    color: var(--salmao);
    font-weight: bold;
}

.ft-a-1 a{
    font-size: 0.85rem;
    margin-left:0.3rem;
}

.ft-a-1:hover{
    color: var(--salmao);
    font-weight: bold;
}

.border-start{
    border-color: aqua;
}

.row div{
    margin-top:3rem;
}

.seta{
    background-image: linear-gradient(var(--azul_escuro_dg_claro), var(--azul_card),var(--azul_claro_dg_claro));
    width: 2.4rem;
    border-radius: 0.7rem;
    margin-top: -1rem;
}