@import url(./bootstrap.min.css);
@import url(./config.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');



/*CUSTOM*/
body, html{
    font-family: 'Raleway', sans-serif;
}

#header{
    width: 100%;
    background-color: var(--cinza_claro);
    transition: background ease-out .2s;
}
#header .navbar-collapse{
    width: auto;

}

#header .nav-link{
    background-color: var(--cinza_claro);
    color: black;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

#header .nav-link:hover{
    background-image: linear-gradient(var(--azul_escuro_dg_claro), var(--azul_claro_dg_claro));
    color: white;

}

#entrar{
    background-image: linear-gradient(to right, var(--azul_escuro_dg_claro), var(--azul_claro_dg_claro));
    color: white;
    border: 0;
    width: 7em;
    box-shadow: inset 2px 2px 6px rgba(95, 95, 95, 0.815);
}

.img_color path{
    fill:#fff;
}

@media (max-width: 1399.98px) {
    #header #link-vantagens{
        margin-right: 0.8rem;
    }  

}
@media (max-width: 767.98px) {
    #header #link-home{
        margin-top: 0.8rem;
    }  
    #header #lista-vantagens{
        margin-bottom: 0.8rem;
    }    
    #header #link-vantagens{
        margin-right: 0;
    }  

    #header .nav-link{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }   

}
@media (max-width: 575px) {
    #header .navbar-brand{
        padding-left: 1.2rem;
    }
    #header #entrar{
        margin-left: 1.2rem;
    }

}